/* CLASES DE CSS (IMPORTACIÓN TIPOGRAFÍA, USO DE COLORES Y TAMAÑOS, ETC) */
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(138, 43, 226);
}

.container__title {
    font-family: "Titan One", sans-serif;
    color: rgb(255, 255, 255);
    margin: 3px auto;
    text-align: center;
}

.container__subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin: 3px auto;
    text-align: center;
}

.navbar__brand {
    font-family: "Titan One", sans-serif;
    color: rgb(0, 0, 139);
}

.detail__title {
    font-family: "Titan One", sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

.detail__info {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    border-top: 0;
    border-bottom: 0;
    text-align: center;
    margin-bottom: 5%;
}

.detail__ico {
    font-size: 76px;
}

.detail__grade {
    color: rgb(255, 255, 255);
    font-size: 28px;
    background-color: rgb(211 121 223);
    width: 100%;
    text-align: center;
    margin: 2% auto;
    padding: 2%;
}

.climacard__title, .detalle__title {
    font-family: "Titan One", sans-serif;
    color: rgb(255, 255, 255);
}

.climacard__ico {
    font-size: 76px;
}

.climacard__grado {
    color: rgb(255, 255, 255);
    font-size: 28px;
    background-color: rgb(211 121 223);
    width: 100%;
    text-align: center;
    margin: 2% auto;
    padding: 2%;
}

.climacard__button {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(138 43 226);
    border: 1px solid rgb(128 0 128);
}

.forecast__card {
    background-color: rgb(135, 206, 250);
    text-align: center;
    display: grid;
    gap: 5px;
    grid-template-columns: 50% 50%;
}

.forecast__title {
    font-family: "Titan One", sans-serif;
    color: rgb(128 0 128);
}

.forecast__grade {
    color: rgb(128 0 128);
    font-weight: bold;
}

.about__info {
    background-color: rgb(255, 255, 255);
    padding: 2%;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .detail__info {
        border-left: 0;
        border-right: 0;
        border-top: 1px solid rgb(255, 255, 255);
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .about__img {
        width: 100%;
        padding: 1%;
    }
}