@use '../utilities/variables' as vari;
@use '../utilities/mixins' as mixi;


.promedio__section {
  display: flex;
}

.forecast__card {
  @include mixi.card(vari.$card);
  display: grid;
  gap: 5px;
  grid-template-rows: 30%;
}

.promedio__grados {
  @include mixi.card(vari.$card);
  display: grid;
  gap: 5px;
  grid-template-rows: 30%;
}

.promedio__estado {
  @include mixi.card(vari.$card);
}

.detail__info {
  @include mixi.detailCard(vari.$card);
  display: grid;
  gap: 5px;
}

.promedio__min, .promedio__max, .promedio__todo {
  @include mixi.detailCard(vari.$info);
  display: grid;
  gap: 5px;
}