@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(138, 43, 226);
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Titan One", sans-serif;
  font-weight: normal;
}