$primary:     rgb(138, 43, 226);
$secondary:   rgb(128, 0, 128);
$brand:       rgba(85, 17, 82);
$card:        rgb(135, 206, 250);
$fondo:       rgba(85, 17, 82, 0.5);
$blanco:      rgb(255, 255, 255);
$featured:    rgb(211, 121, 223);
$info:        rgb(135, 206, 250);
$button:      rgb(138, 43, 226);

$bodytext:    Verdana, Geneva, Tahoma, sans-serif;
$displaytext: "Titan One", sans-serif;
$aligncenter: center;
$icosize: 76px;

$mtopbottom:  3px auto;
$tamanotxt:   18px;
$buttontxt:   16px;
$gradetxt:    28px;
$padding-grande:  5%;
$padding-mini:  2%;
$radio:  10px;
